html {
    -webkit-font-smoothing: antialiased;
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    line-height: 1.25;
    color: #444;
}

h2 {
    font-family: Ubuntu,Open Sans,Segoe UI,Tahoma,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 2rem;
}

input[type=text] {
    -webkit-appearance: none;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    min-width: 49px;
    padding: 8px 16px;
    width: 100%;
    height: 48px;
    font-size: 1rem;
}

label {
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    font-size: 14px;
    line-height: 1.25rem;
    color: #444;
}

mark {
    background-color: yellow;
    color: black;
}

.table {
    color: #444;
}

.table-hover tbody tr:hover {
    background-color: #e7f4fe;
    cursor: pointer;
}

.searchbox-form {
    position: relative;
}

.searchbox-results {
    position: absolute;
    overflow: hidden;
    margin-left: 0;
    min-width: 10rem;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: rgb(68, 68, 68);
}

.searchbox-results .pill {
    width: 5em;
    padding: 7px 9px;
    border-radius: 4px;
}

.searchbox-results .btn {
    min-width: 60px;
    font-size: 0.8rem;
    line-height: 0.9;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(255, 255, 255);
}

.searchbox-results-title {
    font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.25rem;
}

.searchbox-results-sub-title {
    font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
    font-size: 12px;
    line-height: 1.25rem;
}

.dark {
    color: #444;
}

.loading {
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.searchbox {
    background-color: #f3ce56;
    padding: 24px;
    letter-spacing: 0;
}
